#class{
    height: 400px;
    width: 80%;
    margin: 10px;
    background-color: aliceblue;
    border: 2px solid black;
    
    position: absolute;
    left: 10%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap-reverse; */
    /* align-items: baseline; */
    align-content: flex-end;
}
h1{
    text-align: center;
}
#class div{
    width: 100px;
    height: 200px;
}
#class #red{
    flex-basis: 100px;
    flex-grow: 3;
    background-color: red;
}
#yellow{
    flex-basis: 100px;
    flex-grow: 2;
    flex-shrink: 1;
    max-width: 200px;
    min-height: 50px;
}